@font-face {
    font-family: DaughterOfFortune;
    src: url(assets/fonts/Weather-Sunday.otf)
}


body{
    margin: 0;
}

#background {
    display: block;
    margin: 0 auto;
    transform: translateX(-35%);
    position: fixed;
    height: 750px;
    z-index: -9999;
  }

  .main{
    margin: auto;
    text-align: center;
    width: 100%;
    color: white;
  }

  #fantasylogo{
    display: block;
    width: 75%;
    margin: 0 auto;
  }

  .main h1{
    margin-bottom: 150px;
    margin-top: 70px;
    font-family: DaughterOfFortune;
    font-size: 100px;
    filter: drop-shadow(0px 2px 5px #000000); 
  }

  .main p{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: 30px;
  }

  .main-desc{
    background-color: rgba(57,19,112,255);
  }

  .descimg{
    width: 100%;
  }

.event{
    width: 100%;
    margin-bottom: 0px;
}

  figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #fff;
    padding: .75rem;
    background: var(--c,rgba(255, 255, 255, 0.6));
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000000 0 0),
      linear-gradient(#000000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #ffffff;
    }
  }

  a {
    text-decoration: none;
  }